/* Brush Script MT - cyr */
@font-face {
  font-family: 'Brush Script MT';
  font-style: italic;
  font-weight: 400;
  src: local('Brush Script MT'), local('Brush Script MT'),
       url('../fonts/Brush Script MT Italic.ttf') format('ttf'),
}

/* Museo-Sans-Cyr - cyr */
@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 400;
  src: local('MuseoSansCyrl'), local('MuseoSansCyrl'),
       url('../fonts/Museo-Sans-Cyr/Museo-Sans-Cyr/MuseoSansCyrl.otf') format('otf'),
}
