.banner {
  padding-top: 235px;
  padding-bottom: 190px;
  background-image: url(../../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__title {
  width: 50%;
  font-size: 65px;
  font-family: 'Museo Sans Cyrl';
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  line-height: 1.154;
  text-align: left;
  margin-bottom: 45px;
}

.banner__subtitle {
  font-size: 30px;
  font-family: 'Museo Sans Cyrl';
  font-weight: 400;
  color: rgb(254, 254, 254);
  line-height: 1.2;
  margin-bottom: 48px;
}

.banner__button {
  border-radius: 8px;
  border: transparent;
  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  width: 274px;
  height: 55px;
  font-size: 16px;
  font-family: 'Museo Sans Cyrl';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: transparent;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-light-blue-color;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      $main-light-blue-color 0%,
      $main-dark-blue-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    border-width: 2px;
    border-color: $main-dark-blue-color;
    border-style: solid;
    background-color: #fff;
  }
}
