.banner {
  background-image: url(../../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 768px) {
    padding-top: 96px;
    padding-bottom: 64px;
  }
  @media (min-width: 1280px) {
    padding-top: 175px;
    padding-bottom: 190px;
  
  }

}

.banner__title {
  width: 50%;
  font-family: 'MuseoSansCyrlW03-700';
  font-weight: 700;
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  text-align: left;
  @media (min-width: 768px) {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  @media (min-width: 1280px) {
    font-size: 75px;
    line-height: 85px;
    margin-bottom: 30px;

  }

}

.banner__subtitle {
  font-family: 'MuseoSansCyrlW03-300';
  font-weight: 300;
  color: rgb(254, 254, 254);
  @media (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 27px;
  }
  @media (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 48px;

  }

}

.banner__button {
  border-radius: 8px;
  border: transparent;
  cursor: pointer;
  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  font-family: 'MuseoSansCyrlW03-900';
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-transform: uppercase;
  border: transparent;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-light-blue-color;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      $main-light-blue-color 0%,
      $main-dark-blue-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    border-width: 2px;
    border-color: $main-dark-blue-color;
    border-style: solid;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    font-size: 11px;
    width: 161px;
    height: 33px;
    margin-bottom: 48px;
  }
  @media (min-width: 1280px) {
    width: 274px;
    height: 55px;
    font-size: 16px;
  
  }

}
