footer {
  padding-top: 13px;
  padding-bottom: 20px;
  background-color: $main-dark-orange-color;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer__logo-copyright-wrap {
  display: flex;
  align-items: center;
}

.copyright {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.footer__logo-wrap {
  margin-right: 20px;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 140px;
  height: 43px;

  @media (min-width: 768px) {
  }
  @media (min-width: 1280px) {
    width: 240px;
    height: 71px;
  }
}

.footer__copyright-wrap {
  // font-family: 'Roboto';
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;

  color: rgb(255, 255, 255);
  text-align: left;
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }
  @media (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.2;
  }
}

.footer__logo-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
}

.footer__logo-art {
  display: block;
  font-size: 50px;
  line-height: 30px;
  font-family: 'Brush Script MT';
  color: #fff;
  font-style: italic;
}

.footer__logo-sideros,
.footer__logo-make {
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.footer__logo-sideros {
  font-size: 60px;
}

.footer__logo-make {
  font-size: 12px;
}

.footer__networks-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;

  @media (min-width: 768px) {
  }
  @media (min-width: 1280px) {
    width: 135px;
  }
}

.footer__fb-wrap,
.footer__vk-wrap,
.footer__inst-wrap {
  width: 21px;
  height: 21px;
  border-radius: 3px;

  @media (min-width: 768px) {
  }
  @media (min-width: 1280px) {
    width: 36px;
    height: 36px;
    border-radius: 5px;
  }
}

.footer__fb-link,
.footer__vk-link,
.footer__inst-link {
  width: 100%;
  cursor: pointer;
}

.footer__fb-link img,
.footer__vk-link img,
.footer__inst-link img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  @media (min-width: 1280px) {
    border-radius: 5px;
  }
}
