header {
  position: relative;
  width: 100%;
  @media (min-width: 768px) {
    height: 82px;
    padding-bottom: 22px;
  }
  @media (min-width: 1280px) {
    height: 147px;
    padding-bottom: 40px;
  }
}
.header__content-wrap {
  position: relative;
}

.header__main-content-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrap {
  position: relative;
  @media (min-width: 768px) {
    margin-right: 80px;
  }
  @media (min-width: 1280px) {
    margin-right: 110px;
  }
}

.header__logo-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
}

.header__logo-art {
  position: absolute;
  display: block;
  background-image: url(../../images/арт.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  // font-size: 50px;
  // line-height: 30px;
  // font-family: 'Brush Script MT';
  // color: $main-dark-orange-color;
  // font-style: italic;
  @media (min-width: 768px) {
    width: 42px;
    height: 20px;
    top: -9px;
    left: 0px;
  }
  @media (min-width: 1280px) {
    top: -16px;
    left: -26px;
    width: 69px;
    height: 35px;  
  }
}

.header__logo-sideros,
.header__logo-make {
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: $main-light-blue-color;
  text-transform: uppercase;
  background: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  @media (min-width: 768px) {
    padding-left: 14px;
  }
  @media (min-width: 1280px) {
  }
}

.header__logo-sideros {
  display: block;
  margin: 0;
  padding: 0;
  @media (min-width: 768px) {
    padding-left: 14px;
    font-size: 35px;
  }

  @media (min-width: 1280px) {
    font-size: 60px;
  }
}

.header__logo-make {
  @media (min-width: 768px) {
    font-size: 7px;
  }
  @media (min-width: 1280px) {
    font-size: 12px;
  }
}

.header__schedule-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 5px;
  @media (min-width: 768px) {
    width: 117px;
    margin-right: 30px;
  }
  @media (min-width: 1280px) {
    width: 195px;
  }
}

.header__shedule-img-wrap {
  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
    margin-right: 3px;
  }
  @media (min-width: 1280px) {
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }
}

.header__shedule-img {
  width: 100%;
  height: auto;
}

.header__shedule-text {
  font-family: 'MuseoSansCyrlW03-700';
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;

  @media (min-width: 768px) {
    width: 80px;
    font-size: 14px;
  }
  @media (min-width: 1280px) {
    width: 140px;
    font-size: 24px;
  }
}

.header__buttons-wrap {
  @media (min-width: 768px) {
    width: 135px;
  }
  @media (min-width: 1280px) {
    width: 200px;
  }
}

.header__button {
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: transparent;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-light-blue-color;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      $main-light-blue-color 0%,
      $main-dark-blue-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    border-width: 2px;
    border-color: $main-dark-blue-color;
    border-style: solid;
    background-color: #fff;
  }

  @media (min-width: 768px) {
    width: 135px;
    height: 27px;
    font-size: 11px;
    margin-bottom: 5px;
  }
  @media (min-width: 1280px) {
    width: 229px;
    height: 46px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.header__contact-wrap {
  text-align: right;

  margin-left: 35px;
  @media (min-width: 768px) {
    width: 135px;
    padding-bottom: 0px;
  }
  @media (min-width: 1280px) {
    width: 230px;
    margin-left: 35px;
    padding-bottom: 15px;
  
  }
}

.header__contact-wrap-tel,
.header__contact-wrap-span,
.header__contact-wrap-call,
.header__contact-wrap-email {
  color: rgb(0, 0, 0);
  text-decoration: none;
  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }
  @media (min-width: 1280px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.header__contact-wrap-tel,
.header__contact-wrap-call,
.header__contact-wrap-email {
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  &:hover {
    text-decoration: underline;
  }
}

.header__contact-wrap-span,
.header__contact-wrap-email {
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
}

.header__nav-wrap {
  position: absolute;
  width: 99%;
  right: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 99.5% 100%, 0.5% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(
    to top,
    $main-light-orange-color 0%,
    $main-dark-orange-color 59%
  );

  background-color: #fff;
  box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.23);
  z-index: 100;

  @media (min-width: 768px) {
    bottom: -45px;
    border-radius: 5px 5px 10px 10px;
    padding-right: 48px;
    padding-left: 48px;
  }
  @media (min-width: 1280px) {
    bottom: -80px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 10px 10px 15px 15px;

  }
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.header__nav-list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.header__nav-list-item {
  list-style: none;
}

.header__list-link {
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(255, 254, 254);
  text-decoration: none;
  &:hover {
    font-family: 'MuseoSansCyrlW03-900';
    font-weight: 900;
    text-decoration: underline;
  }
  @media (min-width: 768px) {
    line-height: 40px;
    font-size: 14px;
  }
  @media (min-width: 1280px) {
    line-height: 66px;
    font-size: 24px;
  
  }
}
