.how-we-work__section-title {
  font-size: 30px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 46px;
  @media (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 26px;
  }
}

.how-we-work {
  padding-top: 70px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    padding-top: 45px;
    padding-bottom: 36px;
  }
}

.how-we-work__img-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  @media (min-width: 768px) {
    padding-right: 17px;
    padding-left: 17px;
  }
}

.how-we-work__item-img {
  position: relative;
  list-style: none;
}

.how-we-work__item-img:nth-child(odd) .img-wrap::after,
.how-we-work__item-img:nth-child(even) .img-wrap::after {
  position: absolute;
  content: '';
  top: 40px;
  // right: -90px;
  right: -90%;
  width: 56px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media (min-width: 768px) {
    top: 20px;
    width: 31px;
    height: 13px;
  }
}

.how-we-work__item-img:nth-child(odd) .img-wrap::after {
  background-image: url(../../images/Shape1.png);
}

.how-we-work__item-img:nth-child(even) .img-wrap::after {
  background-image: url(../../images/Shape2.png);
}

.how-we-work__item-img:last-child .img-wrap::after {
  display: none;
  visibility: hidden;
}

.how-we-work__item-img .img-wrap {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    width: 57px;
    height: 57px;
  }
}

.how-we-work__img {
  width: 100%;
  height: auto;
}

.how-we-work__img-description {
  position: absolute;
  top: 120px;
  left: -50px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  @media (min-width: 768px) {
    font-size: 12px;
    top: 66px;
    left: -75px;
  }
}

.about {
  margin-top: 25px;
  margin-bottom: 105px;
}

.about__section-title {
  font-size: 30px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.about__wrapper {
  display: flex;
}

.about__text-wrap {
  width: 50%;
}

.about__text {
  font-size: 20px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: left;
  margin: 0;
  margin-bottom: 35px;
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.about__image-wrap {
  position: relative;
  width: 50%;
  z-index: 1;
}

.about__image {
  position: absolute;
  top: -55px;
  display: block;
  width: 600px;
  height: 445px;
  object-fit: cover;
  @media (min-width: 768px) {
    top: -27px;
    width: 355px;
    height: 255px;
  }
}

.about__image-wrap::before {
  position: absolute;
  content: '';
  top: -70px;
  right: -5px;
  width: 600px;
  height: 445px;
  background-image: linear-gradient(
    to top,
    $main-light-orange-color 0%,
    $main-dark-orange-color 59%
  );
  @media (min-width: 768px) {
    top: -37px;
    right: -1px;

    width: 350px;
    height: 248px;
  }
}

.about__button {
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  width: 274px;
  height: 55px;
  font-size: 16px;
  font-family: 'MuseoSansCyrlW03-900';
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-transform: uppercase;
  border: transparent;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-light-blue-color;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      $main-light-blue-color 0%,
      $main-dark-blue-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    border-width: 2px;
    border-color: $main-dark-blue-color;
    border-style: solid;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    width: 164px;
    height: 34px;
    font-size: 11px;
  }
}

.catalog {
  margin-bottom: 70px;
  min-height: 635px;
}

.catalog__content-wrap {
  position: relative;
  display: flex;
}

.catalog__section-title {
  display: flex;
  font-size: 30px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto;
  padding-left: 320px;
}

.catalog__title-span {
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
}

.catalog__navbar {
  position: absolute;
  top: -53px;
  background-color: rgb(255, 255, 255);
  box-shadow: 6.553px -4.589px 9.8px 0.2px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.catalog__navbar::before {
  position: absolute;
  left: -15px;
  top: 10px;
  content: '';
  width: 290px;
  height: 630px;
  background-image: linear-gradient(
    to top,
    $main-light-orange-color 0%,
    $main-dark-orange-color 59%
  );

  z-index: -2;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog__item {
  width: 290px;
  height: 70px;
  padding-left: 25px;
  list-style: none;
  font-size: 24px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.702);
  line-height: 68px;
  text-align: left;
  border-bottom: 2px solid #eeeeee;
  cursor: pointer;
  &:hover {
    padding-left: 45px;
    font-size: 28px;
    font-family: 'MuseoSansCyrlW03-700';
    font-weight: 700;
    color: $main-light-orange-color;
    background: linear-gradient(
      to left,
      $main-light-orange-color 0%,
      $main-dark-orange-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
  }
}

.catalog__item:last-child {
  border-bottom: 2px solid #fff;
}

.catalog__content {
  padding-left: 320px;
}

.catalog__show-more {
  padding-top: 25px;
}

.catalog__text {
  font-size: 20px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

.catalog__slider-wrap {
  margin-bottom: 20px;
}

.catalog__slider {
  width: 910px;
  height: 420px;
  padding-left: 40px;
}

.catalog__slider-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.catalog__sliler-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 420px;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #fef4ec;
  margin-right: 10px;
  // background-color: rgb(241, 117, 18);
  // opacity: 0.078;
}

.tabs-nav__item.is-active {
  padding-left: 45px;
  font-size: 28px;
  font-family: 'MuseoSansCyrlW03-700';
  font-weight: 700;
  color: $main-light-orange-color;
  background: linear-gradient(
    to left,
    $main-light-orange-color 0%,
    $main-dark-orange-color 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

.tab {
  display: none;
}
.tab.is-active {
  display: block;
}

.catalog__card-wrap {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 8px 9.8px 0.2px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 395px;
  z-index: 3;
  margin: 0 auto;
}

.catalog__card-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  padding-top: 12px;
  background-color: #fff;
}

.catalog__product-code {
  display: block;
  font-size: 16px;
  font-family: 'MuseoSansCyrlW03-700';
  font-weight: 700;
  color: rgb(18, 18, 18);
  line-height: 1.5;
  margin-bottom: 10px;
}

.catalog__product-size,
.catalog__product-color {
  font-size: 16px;
  font-family: 'MuseoSansCyrlW03-300';
  font-weight: 300;
  color: rgb(18, 18, 18);
  line-height: 1.5;
}

.catalog__product-color {
  display: block;
  margin-bottom: 10px;
}

.catalog__card-button-price-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__card-price {
  font-size: 25px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(18, 18, 18);
  line-height: 0.96;
}

.catalog__card-button {
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  width: 123px;
  height: 40px;
  font-size: 14px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: transparent;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-light-blue-color;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      $main-light-blue-color 0%,
      $main-dark-blue-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    border-width: 2px;
    border-color: $main-dark-blue-color;
    border-style: solid;
    background-color: #fff;
  }
}

.catalog__show-more-button {
  border: none;
  background-color: #fff;
  font-size: 14px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: $main-dark-orange-color;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  background: linear-gradient(
    to left,
    $main-light-orange-color 0%,
    $main-dark-orange-color 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.delivery__section-title {
  font-size: 30px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto;
  padding-left: 365px;
  margin-bottom: 55px;
}

.delivery__navigation {
  margin-bottom: 46px;
}

.delivery__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.delivery__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 355px;
  height: 125px;
  background-color: #f5f5f5;
}

// .delivery__tabs-nav__item.delivery__is-active {
// }

.delivery__img-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: linear-gradient(
    to top,
    $main-light-orange-color 0%,
    $main-dark-orange-color 100%
  );
  border-radius: 50%;
}

.delivery__main-img-wrap {
  position: relative;
}

.delivery__arrow {
  position: absolute;
  bottom: -32px;
  left: 60px;
  width: 35px;
  height: 32px;
  display: block;
  background-image: linear-gradient(
    to top,
    rgb(254, 244, 236) 16%,
    rgb(241, 117, 18) 100%
  );
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 10;
}

.delivery__tab {
  display: none;
}
.delivery__tab.delivery__is-active {
  display: block;
}

// .delivery__img-wrap::after {
//   position: absolute;
//   content: '';
//   bottom: -32px;
//   width: 35px;
//   height: 32px;
//   display: block;
//   background-image: linear-gradient(
//     to top,
//     rgb(254, 244, 236) 16%,
//     rgb(241, 117, 18) 100%
//   );
//   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
//   z-index: 10;
// }

.delivery__img {
  position: absolute;
  display: block;
}

.delivery__content {
  padding: 35px;
  background-color: #fef4ec;
}

.delivery__content-title-wrap {
  display: flex;
  justify-content: space-between;
}

.delivery__title-item-wrap {
  width: 33.33333%;
}

.delivery__content-title {
  font-size: 24px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}

.delivery__item-text {
  width: 205px;
  text-align: center;
  font-size: 24px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgba(0, 0, 0, 0.651);
  text-transform: uppercase;
  line-height: 1.2;
}

.delivery__content-text {
  column-count: 3;
  column-width: 546px;
  column-gap: 30px;
  font-size: 20px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: left;
  margin: 0;
}

.reviews {
  padding-top: 70px;
  padding-bottom: 80px;
}

.reviews__section-title {
  font-size: 30px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.reviews__leave-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 575px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.reviews__leave-review-span {
  font-size: 24px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.reviews__leave-review-button {
  border-radius: 8px;
  cursor: pointer;
  width: 274px;
  height: 55px;

  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  font-size: 16px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: transparent;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-light-blue-color;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      $main-light-blue-color 0%,
      $main-dark-blue-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    border-width: 2px;
    border-color: $main-dark-blue-color;
    border-style: solid;
    background-color: #fff;
  }
}

.reviews__content {
  position: relative;
  display: flex;
  background-color: #fff;
}

.reviews__content::before {
  position: absolute;
  top: -15px;
  right: -15px;
  content: '';
  width: 1215px;
  height: 710px;
  background-image: linear-gradient(
    0deg,
    $main-light-orange-color 0%,
    $main-dark-orange-color 59%
  );
  z-index: -2;
}

.reviews__slider-wrap {
  width: 780px;
  height: 715px;
}

.swiper-button-prev {
  position: relative;
}

.swiper-button-prev::after {
  position: absolute;
  content: '';
  background-image: url(../../images/442-arrow-down.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 50px;
  z-index: 999;
}

.swiper-button-next {
  position: relative;
}

.swiper-button-next::after {
  position: absolute;
  content: '';
  background-image: url(../../images/442-arrow-down2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 50px;
  z-index: 999;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.reviews__list-wrap {
  width: 440px;
  height: 715px;
  background-color: #fff;
}

.reviews__list-decore {
  position: relative;
  height: 100px;
}

.reviews__list-decore::before {
  position: absolute;
  content: '';
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 43px;
  background-image: url(../../images/quote.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reviews__list {
  height: 620px;
  padding: 0;
  margin: 0;
  overflow: scroll;
  margin-right: 5px;
}

.reviews__list::-webkit-scrollbar {
  width: 20px;
}

.reviews__list::-webkit-scrollbar-thumb {
  background: #f6a565 !important;
  border-radius: 10px !important;
}

.reviews__list::-webkit-scrollbar-track {
  background-color: #fff !important;
}

.reviews__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 380px;
  border-top: 2px solid #f5f5f5;
  margin: 0 auto;
  padding: 27px 10px 40px 10px;
}

.reviews__item-img-wrap {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.reviews__item-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.reviews__item-name {
  display: block;
  font-size: 24px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 1;
}

.reviews__item-text {
  font-size: 20px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.749);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
}

.questions {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fbd9bd;
}

.questions__section-title {
  font-size: 30px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
}

.questions__subtitle {
  font-size: 24px;
  font-family: 'MuseoSansCyrlW03-300';
  font-weight: 300;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.questions__form-content-wrap {
  width: 1138px;
  margin: 0 auto;
}

.questions__form-input-mainwrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1138px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.questions__form-comments {
  font-size: 20px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

.questions__form-input-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 105px;
}

.questions__form-button {
  position: relative;
  top: 3px;
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  width: 360px;
  height: 73px;
  font-size: 16px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: transparent;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-light-blue-color;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      $main-light-blue-color 0%,
      $main-dark-blue-color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    border-width: 2px;
    border-color: $main-dark-blue-color;
    border-style: solid;
    background-color: #fff;
  }
}

.questions__form-description {
  display: block;
  font-size: 20px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: right;
  margin: 0;
  margin-bottom: 10px;
}

.questions__text-input,
.questions__tel-input {
  position: absolute;
  display: block;
  width: 359px;
  height: 71px;
  padding-left: 67px;
  background-color: #fff;
  font-size: 24px;
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: left;
  z-index: 2;
}

.tel-input,
.text-input {
  position: relative;
  padding: 0;
  margin: 0;
  width: 359px;
  height: 74px;
  z-index: 2;
}

.text-input::before {
  position: absolute;
  content: '';
  top: 21px;
  left: 19px;
  background-image: url(../../images/user.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 28px;
  height: 33px;
  z-index: 3;
}

.tel-input::before {
  position: absolute;
  content: '';
  top: 21px;
  left: 19px;
  background-image: url(../../images/telephone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  z-index: 3;
}

.tel-input::after,
.text-input::after {
  position: absolute;
  content: '';
  background-image: linear-gradient(
    to left,
    $main-light-blue-color 0%,
    $main-dark-blue-color 100%
  );
  width: 359px;
  height: 74px;
}

.contacts {
  padding-top: 90px;
  padding-bottom: 70px;
}

.contacts__section-title {
  font-size: 30px;
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contacts__main-wrap {
  display: flex;
}

.contacts__content-wrap {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts__tel,
.contacts__mail,
.contacts__address,
.contacts__mode {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.667;
  text-align: left;
  text-decoration: none;
}

.contacts__tel {
  font-family: 'MuseoSansCyrlW03-900';
  font-weight: 900;
}

.contacts__mail,
.contacts__address,
.contacts__mode {
  font-family: 'MuseoSansCyrlW03-500';
  font-weight: 500;
}

.contacts__map-wrap {
  position: relative;
  width: 68%;
}

.contacts__map {
  position: absolute;
  top: -60px;
  width: 826px;
  height: 220px;
  background-color: rgb(239, 243, 247);
}
